This section is about getting raw data into tensor format. The `pandas` package is extensively used for these kinds of tasks.

Many datasets will come in csv (comma-seperated-values) format. Here we create an artificial dataset.

In [5]:
import os

os.makedirs(os.path.join('./', 'data'), exist_ok = True)
data_file = os.path.join('data', 'house_tiny.csv')
with open (data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n') # Column names
    f.write('NA,Pave,127500\n') # Each row is a data point
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

We use `pandas` to load data into python.

In [6]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

NaN entries are missing values. We can handle missing data in two ways
* *Imputation*: substitute data
* *Deletion*: ignore missing values
Here we do imputation.

In [7]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

To turn our categorical data into numerical data, we create a category for each Alley, counting NaN as a category.

In [8]:
inputs = pd.get_dummies(inputs, dummy_na = True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [9]:
# Now we convert to tensors. 
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))